# Dépendances
node_modules
.bun
bun.lockb

# Build
dist
build
target

# Environnement
.env
.env.local
.env.production
.env*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
bun.log

# Git et IDE
.git
.gitignore
.vscode
.idea
.DS_Store

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# nginx configuration
nginx.conf